In [56]:
import pandas as pd
import numpy as np

In [57]:
train=pd.read_csv("/content/train.csv")
test=pd.read_csv("/content/test.csv")
test_ids=test["PassengerId"]

In [58]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [59]:
#to check the fields which have null values 
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [60]:
#defining a function to clean data
def clean(train):
  train=train.drop(['Name','PassengerId','Ticket','Cabin'],axis=1)
  train['Age'].fillna(train['Age'].mean(), inplace=True)
  train['Embarked'].fillna(train['Embarked'].mode()[0],inplace=True)
  train.replace({'Sex':{'male':0,'female':1}, 'Embarked':{'S':0,'C':1,'Q':2}}, inplace=True)
  return train

In [61]:
train=clean(train)
test=clean(test)

In [62]:
train.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    0  22.0      1      0   7.2500         0
1         1       1    1  38.0      1      0  71.2833         1
2         1       3    1  26.0      0      0   7.9250         0
3         1       1    1  35.0      1      0  53.1000         0
4         0       3    0  35.0      0      0   8.0500         0

In [63]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 55.8 KB

In [64]:
def model(train):
  from sklearn.linear_model import LogisticRegression
  from sklearn.model_selection import train_test_split
  X=train.drop("Survived",axis=1)
  Y=train['Survived']

  X_train, X_val, Y_train, Y_val = train_test_split(X,Y, test_size=0.2, random_state=2)
  clf=LogisticRegression(random_state=0,max_iter=1000).fit(X_train,Y_train)
  predictions=clf.predict(X_val)
  from sklearn.metrics import accuracy_score
  ans=accuracy_score(Y_val,predictions)
  return ans

In [65]:
train_model=model(train)
print(train_model)

0.7821229050279329

In [66]:
test.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        1
Embarked    0
dtype: int64

In [67]:
 test['Fare'].fillna(train['Fare'].mean(), inplace=True)

In [68]:
test.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [69]:
check=clf.predict(test)

In [70]:
#creating a new dataframe to test the model
testdf=pd.DataFrame({"PassengerId":test_ids.values,"Survived":check})

In [73]:
#converting dataframe to excel sheet 
testdf.to_csv("Final.csv",index=False)